.so-widget-sow-image-sow-image-4333b04dd157 .sow-image-container {
  text-align: left;
}
.so-widget-sow-image-sow-image-4333b04dd157 .sow-image-container .so-widget-image {
  display: inline-block;
  max-width: 100%;
  
  height: auto;
}